ul {
  list-style-type: none;
}

li {
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
}

.seasons_list {
  float: left;
}
.drivers_list {
  float: left;
}
.favorites_list {
  float: right;
}
